<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318927721659-0fa91g15402lr4qeeefp3t6v9vep8t5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318927721659-0fa91g15402lr4qeeefp3t6v9vep8t5u</string>
	<key>API_KEY</key>
	<string>AIzaSyCiiOsab3diNDLnwExKgl3XlAQq9L9dtIw</string>
	<key>GCM_SENDER_ID</key>
	<string>318927721659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ammar.loginPage1</string>
	<key>PROJECT_ID</key>
	<string>login-page-1-79190</string>
	<key>STORAGE_BUCKET</key>
	<string>login-page-1-79190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318927721659:ios:7220289749765ce799c59e</string>
	<key>DATABASE_URL</key>
	<string>https://login-page-1-79190.firebaseio.com</string>
</dict>
</plist>